@hover-text-color: #333333;
@accent: #1a1a1a;
@base: #ebebeb;
@background: #ffffff;
@border-radius: 4px;
@hover-background: #ebebeb;
@hover-gradient: none;
@fallback-texture: none;
@error: #ffe0d9;
@normal-gradient: none;
@normal-text-color: #333333;
@texture: none;
@series-e: #a8a8a8;
@image-folder: none;
@selected-background: #6e6e6e;
@selected-gradient: none;
@selected-text-color: #ffffff;
@normal-background: #ffffff;
@warning: #fbeed5;
@success: #eaf7ec;
@info: #e5f5fa;
@series-a: #525252;
@series-b: #363636;
@series-c: #6e6e6e;
@series-d: #c4c4c4;
@series-f: #a8a8a8;
@import "type-bootstrap.less";