/* CSS Document */
input[type="text"],  textarea, input[type="email"], input[type="tel"]{
	width:100%;
}
.hide{
	display:none;
}
textarea{
	height:100px;
}
.btn-style{
	width:80%;
	float:right;
}
.form-group{
    width: 100%;
	margin-bottom: 10px;	
}
.form-group input[type="text"], .form-inline input[type="text"]{
    height: 33px;
    padding-left: 16px;
    font-size: 12px;
}
.form-group textarea{
    padding-top: 10px;
    padding-left: 16px;
    font-size: 12px;
}
.control-label{
	margin-top:5px;
}

.col-1{
	width:10%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-2{
	width:20%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-3{
	width:30%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-33{
	width:33.333%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-4{
	width:40%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-5{
	width:50%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-6{
	width:60%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-7{
	width:70%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-8{
	width:80%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-9{
	width:90%;
	float:left;
	box-sizing: border-box;
 	padding: 0 7px;
}
.col-10{
	width:100%;
	box-sizing: border-box;
	padding: 0 7px;
}
.clearfix{
	clear:both;
}
.sin-padding{
	padding:0 !important;
}
.box-service{
    padding: 27px 7px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	position: relative;
	/*cursor: move;*/
	background-color: white;
}
.img-full{
	width:100%;
}

/* Sorteable ui*/
.ui-state-highlight{
  height: 80px;
  border: dashed 1px #73B9FF;
  background-color: #E1F7FF;
  display: block;
  padding: 15px 0;
  margin-bottom: 22px;
}
.ui-sortable-helper{
  opacity: 0.7;
}

/* Slider ui*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.6em; height: 1.7em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.5em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-slider{
  background-color: #BFDFFF;
  border-radius: 4px;
}
.ui-slider-range{
  background-color: #0085B2;
  border-radius: 4px;
}
.ui-slider-handle{
  background-image: url(images/btn-slider-range.png);
  background-size: contain;
}

.col-1 p{
	text-align: center;
    font-size: 17px;
    padding: 15px;
}

/*
.delete-item{
	position: absolute;
	top: -18px;
	right: -17px;
	cursor: pointer;
}
*/

/*estilos boostrap*/
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.input-group-addon:last-child {
    border-left: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.colorpicker-element input{
	padding: 5px 9px;
	margin: 0;
}

.item-form ul{
	float:left;
}
.item-form ul li{
	display:inline-block;
	padding-right: 7px;
}

.item-col .form-group{
	padding:15px;
	background-color: #e8e8e8;
}
.columna-1, .columna-2, .columna-3, .delete-item, .item-move{
    margin: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-indent: -100000px;
    width: 15px;
    cursor: pointer;
}
.columna-1{
	background-image: url(../images/column-1.png);
}
.columna-2{
	background-image: url(../images/column-2.png);
}
.columna-3{
	background-image: url(../images/column-3.png);
}
.delete-item{
	background-image: url(../images/btn-eliminar.png);
}
.item-move{
	background-image: url(../images/icon-move.png);
    float: right;
    cursor: move;
    padding-right: 7px;
}
.item-form ul{
	padding-left: 7px;
    margin: 0;
    margin-bottom: 10px;
}
.has-row li a{
	opacity:0.4;
	cursor:none !important;
}
.has-row li:last-child a{
	opacity:1.0 !important;
	cursor:pointer !important;
}
.delete-item {
    position: absolute;
    right: 0;
    top: 0;
}
.widget-media-d{
    text-align: center;
}

.widget-media-d img{
    max-height: 78px; 
}
