/*
Theme Name: Sistema de Alertas 2017
Author: DGIT
Author URI: domain.gob.mx
Description: Sistema de Alertas 2017 
Version: 1.0
Text Domain: Sistema de Alertas 2017
*/


/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Forms
 
 * Media Query's
 *    >= 1999px
 *    <= 1999px
 *    >= 992px
 *    >= 992px and <= 1999px
 *    <= 991px
 *    >= 767px
 *    >= 768px and <= 991px
 *    <= 767px
 *	  >= 600px and <= 767px
 *	  <= 599px
 *    <= 320px
 *	  utilities
 *	  Iphone(landscape) and device with less 767
 */


/**
 * 1.0 - Normalize
 */

html {
	font-family: NeoSansPro-Regular;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	color: #55565A;
    font-size: 13px;
    font-family: 'neosanspro-regular';
	background-color: transparent;
}

a:hover,
a:focus{
	color:#211915;
	text-decoration:none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}


/**
 * 2.0 - Typography
 */

@font-face {
	font-family: 'NeoSansPro-Regular';
	src: url('fonts/NeoSansPro-Regular.otf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'NeoSansPro-Bold';
	src: url('fonts/NeoSansPro-Bold.otf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'NeoSansPro-Light';
	src: url('fonts/NeoSansPro-Light.otf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'NeoSansPro-BoldItalic';
	src: url('fonts/NeoSansPro-BoldItalic.otf') format('truetype');
	font-weight: normal;
}

body,
button,
input,
select,
textarea {
	color: #1a1a1a;
	font-family: 'NeoSansPro-Light';
	font-size: 16px;
	font-size: 12px;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 0;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/**
 * 3.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

hr {
	background-color: #d1d1d1;
	border: 0;
	height: 1px;
	margin: 0 0 1.75em;
}

ul,
ol {
	margin: 0 0 1.75em 1.25em;
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
	margin-left: 1.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.75em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 0 1.75em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #686868;
	font-family: 'neosanspro-light';
}

:-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}

::-moz-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #686868;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}


/**
 * 4.0 - Forms
 */

input {
	line-height: normal;
	font-size: 14px;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background: #1a1a1a;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #007acc;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: #f7f7f7;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	color: #686868;
	padding: 0.625em 0.4375em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: #fff;
	border-color: #007acc;
	color: #1a1a1a;
	outline: 0;
}

body{
	background-color:#fff;
}
p{
	font-family: 'aleolight';
	padding: 0;
    margin: 0;
}

/*Setting*/
.sin-padding{
	padding-right: 0;
	padding-left: 0;
}

/*Notas*/
.wrapper-notas-sidebar{
	background-color:#E5E4E4;
}
.blog #content-nota {
	padding-bottom: 35px;
	padding-top: 20px;
	position: relative;
	z-index: 1;
	clear: both;
	overflow: hidden;
}
#content-list .divNotaListado , .content-list .divNotaListado{
	margin-top: 10px;
	margin-bottom: 15px;
}
#content-list .destacada{
	overflow: hidden;
	width: 100%;
 	margin: 0px;
 	margin-top: -6px;
}
.clear_bloq_cat_gob {
	clear: both;
}
.content-list .divNotaListado .contenedorNota{
	background-color: transparent;
}
/*.content-list .divNotaListado .contenedorNota,*/
#content-list .divNotaListado .contenedorNota  {
	box-shadow: 0 0 5px #dfdfdf;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.divNotaListado .contenedorNota {
	border-radius: 0 0 3px 3px;
}
.contenedorNota {
	text-align: center;
}
.over-size-nota {
	background-size: 55px;
}
.overlay-nota {
	background: url(images/media/boton-over-notasn.png);
	background-repeat: no-repeat;
	background-position: center;
}
/*Titulo*/
.tituloShare .link-noticia {
	padding: 3%;
  	display: inline;
  	vertical-align: text-top;
  	text-align: center;
  	padding-left: 8%;
  	padding-right: 8%;
}
.link-noticia {
	min-height: 110px;
}
.tituloShare .link-noticia a {
	color: #686868;
	font-size: 15px;
    line-height: 23px;
}
.tituloShare .link-noticia a:hover{
	color: #000;
}
/*Addthis Nota*/
#content-list .divNotaListado .contenedorNota .tituloShare .addthis_toolbox {
	min-height: 30px;
	display: inline-block !important;
}
.listadoShareItem .aticon-facebook, .listadoShareItem .aticon-twitter,
.listadoShareItem .aticon-linkedin, .listadoShareItem .aticon-pinterest_share,
.listadoShareItem .aticon-google_plusone_share {
	background-color: transparent !important;
  	background: none !important;
}
.nota-der-list{
	padding-right: 13px !important;
	padding-left: 2px !important;
}
.nota-centro-list{
	padding: 0px 7.5px !important;
}
.nota-izq-list{
	padding-left: 13px !important;
	padding-right: 2px !important;
}
.border-header{
	height: 3px;
    display: block;
    background-color: #DBDBDB;
    margin: 10px auto 2px;
}
/* menu - header */
.btn-search{
	border-color: #A8A8A8 !important;
	background-color: #A8A8A8 !important;
	color: #FFF !important;
	border-radius: inherit !important;
	font-size: 24px !important;
	padding: 4px 23px !important;
}
.open-search p{
	font-size:20px;
	color: white;
	margin: 8px 0;
	float: left;
}
.close-search{
	width:20px;
	height:20px;
	background-image:url(images/icon-close.png);
	background-size:cover;
	display:block;
	float:right;
	margin: 14px 37px 14px;
}
.close-search:hover{
	opacity:0.7;
	cursor:pointer;
}

.nav>li>a {
	line-height: 33px !important;
}
.nav>li>a:focus, .nav>li>a:hover{
	text-decoration:none;
	background-color:transparent !important;
	color:#8B8B8B;
}



/*xs - navmenu*/
.nav-menu-mobile h1{
	margin: 11px;
	color:#FFF;
	font-family: 'neosanspro-regular';
}
.nav-menu-mobile h1 a{
	font-family: 'neosanspro-bold';
	font-size: 24px;
	color:#FFF;
}
.nav-menu-mobile h1 a:hover, .nav-menu-mobile h1 a:focus{
	text-decoration:none;
}
.nav-menu-mobile h1 span{
	font-family: 'neosanspro-regular';
	color:#ffffff;
}
.button_link {
  position: absolute;
  padding: 5px 6px;
  right: 10px;
  top: 0;
  margin-top: 3px;
  margin-left: 14px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  z-index: 1000;
}
.button_link .icon-bar {
  display: block;
  width: 29px;
  height: 2px;
  border-radius: 0px;
  background-color: #ffffff;
}
.button_link .icon-bar + .icon-bar {
  margin-top: 7px;
}
.content-search-advanced{
	position:relative;
}

.content-search-advanced > ul{
	position: absolute;
	list-style: none;
	z-index: 103;
	top: 10px;
	right: 1px;
	margin:0;
	width: 227px;
}
.content-search-advanced > ul li a{
	padding: 1px 0px 8px 35px;
	color: #BFBFBF;
	font-family: "GandhiSans";
	display: block;
	font-size: 18px;
}
.content-search-advanced > ul > li > a{
	border-bottom: 7px solid rgba(255,255,255,0.0);
}
.content-search-advanced > ul li a:hover{
	text-decoration:none;
}
.content-search-advanced ul > li ul{
	margin:0;
	background-color: #FFF;
	list-style: none;
	display:none;
	width: 227px;
}
.content-search-advanced ul ul li{
	text-decoration:none;
}
.content-search-advanced ul ul li a{
	padding: 5px 50px;
	display:block;
	color:#5E5E5E;
	font-family: "GandhiSans";
	font-size:18px;
}
.content-search-advanced ul ul li a:hover{
	text-decoration:none;
	background-color:#EDEDED;
}
.content-search-advanced ul > li:hover ul{
	display:block !important;
}
/*
* 6.0 - Page Gob-Semblanza
* -----------------------------------------------------------------------------
*/
.container-semblanza-interno{
	width: 80%;
}
.padding-right-41{
	padding-right: 41px !important;
    padding-left: 0 !important;
}
.content-card-people {
	position: relative;
}
.content-card-people h2 {
	font-size: 32px;
	color: #d1d1d1;
	margin: 45px 0 5px;
}
.content-card-people h3 {
	font-size: 25px;
	color: #b2b2b2;
	margin: 0;
}
.social-semblanza {
    margin: 0px 0 5px;
    padding-top: 0px;
}
.styling-gobernador-ul{
	border-top: 1px solid #DBDBDB;
	padding-top: 15px;
}
.social-semblanza ul {
	margin: 0;
	padding: 0;
}
.social-semblanza ul li:first-child {
	color: #55565A;
	font-family: 'neosanspro-regular';
	text-transform: none;
	font-size: 17px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.social-semblanza ul li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 5px;
	margin-right: 7px;
}
.social-semblanza .twitter, .social-semblanza .facebook{
	color: #55565A;
	font-size: 19px;
}
.color-gray-social{
	color: #A8A8A8 !important;
}

.social-semblanza ul li a,
.social-semblanza ul li a:hover,
.social-semblanza ul li a:active,
.social-semblanza ul li a:visited{
	text-decoration: none;
	color: #55565A;
}
.social-semblanza ul li:hover a,
.social-semblanza ul li a:hover{
	color:black;
	}
.social-semblanza li:hover span.icons{
	 background-color: #009647;
	}
.social-semblanza li span.icons {
	background-color: #14B64C;
	padding: 15px;
}
.social-semblanza li span {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	padding: 0 13px 0 6px;
}
.social-semblanza li span.facebook {
	background-image: url(images/gobernador/fb-semblanza.png);
	background-size: 15px;
}
.social-semblanza li span.icons:hover {
	background-color: #009647;
}
.color-btn-redes {
	color: #929292;
	padding: 0 6px 0 5px;
	text-decoration: none;
}
.color-btn-redes:hover{
	color: #929292;
	text-decoration: none;
}
.social-semblanza li span.twitter {
	background-image: url(images/gobernador/tw-semblanza.png);
	background-size: 25px;
}
.social-semblanza li span.foto{
	background-image: url(images/home/galeria.png);
	background-size: 35px;
	height: 30px;
	width: 30px;
}
.descargar, .descargar:hover {
	font-size: 13px;
	text-decoration: none;
	color: #878787;
}
.content-semblanza {
	width: 100%;
	margin: 16px auto;
}
.margin-top-35 {
	display: block;
    margin: 20px auto 15px;
}
.margin-btm-15 {
	margin: 21px auto 16px;
}
.img-shadow {
	border-bottom: #DBDBDB 1px solid;
	height: 2px;
	width: 100%;
}
.content-semblanza p {
	color: #55565A;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}
.container-gobernador-semblanza{
	max-width: 710px;
	margin: 40px auto;
}
.sin-padding-left{
	padding-left: 0px !important;
}
.sin-padding-right{
	padding-right: 0px !important;
}
.border-descargar-foto{
	border-top: 2px solid #DBDBDB;
	width: 44px;
}
.container-gobernador-semblanza h2.nombre{
	color: #000000;
	font-size: 40px;
	text-align: center;
}
.container-gobernador-semblanza h3.cargo{
	color: #686868;
	margin-top: 0px;
	font-size: 29px;
	text-align: left;
	margin-left: 40px;
}
.circle-img{
	background-color: #E5E4E4;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    padding: 13px;
}
.circle-img img{
	-webkit-box-shadow: -1px 1px 14px 0px rgba(138,138,138,1);
	-moz-box-shadow: -1px 1px 14px 0px rgba(138,138,138,1);
	box-shadow: -1px 1px 14px 0px rgba(138,138,138,1);
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

/**Administracion de usuarios*/
.adm-usuario{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.container-usuario{
	padding-bottom: 80px;
	padding-left: 250px;
    padding-right: 250px;
}

.span-usuario{
	width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;

}

.span12 {
	padding-top: 30px;
    text-align: center;

}

.padding-left-25 {
  padding-left: 25px !important;
}

 /**
 * Footer
 * -----------------------------------------------------------------------------
 */
.bg-gray-2d2d2d {
	background-color: #55565A;
}
#footer-content{
	-webkit-box-shadow: inset 2px 12px 23px -6px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 2px 12px 23px -6px rgba(0,0,0,0.35);
	box-shadow: inset 2px 12px 23px -6px rgba(0,0,0,0.35);
}
#footer-content,.containet-logos-footer{
	padding-bottom: 20px;
}
.content-footer-menu {
	overflow: hidden;
    padding-left: 120px;
    margin-bottom: 80px;
}

.content-footer-menu ul {
	list-style-type: none;
  	margin: 0 auto;
  	padding: 0;
  	text-align: center;
}
#footer-content .current-menu-item,
.containet-logos-footer .green-line{
	border-top: 7px solid #888888;
}
#footer-content .current-menu-parent .current-menu-item{
	border:none;
}
.content-footer-menu ul li {
  display: inline-table;
  text-align: left;
  margin: 0 8px;
  padding-left: 280;
}
.content-footer-menu ul.menu li {
  margin-bottom: 30px;
}
.content-footer-menu ul.menu > li {
  padding-top: 60px;
}
/*
.content-footer-menu ul.menu > li:first-child {
  display: none;
}
*/
.content-footer-menu ul.menu li a {
	font-family: 'neosanspro-bold';
  	font-size: 20px;
  	color: #E6E6E6;
}
.content-footer-menu ul.menu li a:hover{
	text-decoration: none;
}
.content-footer-menu ul .sub-menu {
	padding: 0;
	margin-top: 10px;
	max-width: 230px;
}
.sub-menu {
  	margin: auto;
  	display: none;
  	width: 225%;
  	text-align: left;
}

.sub-menu li{
	display: block;
    text-align: initial;
}
/*nivel 1*/
.menu-nav .nav-menu-header .sub-menu{
	display:none;
	width: 303px;
	left: 0;
	z-index: 100;
}

/*nivel 2*/
.menu-nav .nav-menu-header li:hover .sub-menu{
	list-style:none;
	margin:0;
	text-align:left;
}
.menu-nav .nav-menu-header .sub-menu li a{
	color:#1F1F1F;
	font-size:18px;
	font-family: 'NeoSansPro-Light';
	padding: 6px 0px 6px 25px;
  	display: block;
	border-bottom: 1px solid #E5E5E5;
}
.menu-nav .nav-menu-header .sub-menu li:last-child a{
	border-bottom:none !important;
}
.menu-nav .nav-menu-header .sub-menu li a:hover, .nav-menu-header .sub-menu li a:focus{
	text-decoration:none;
	color:#797979;
}

.nav-menu-header li:last-child .sub-menu{
	right:0 !important;
	left:inherit !important;
}

.content-footer-menu ul .sub-menu li {
	display: block;
  	margin: 0;
  	margin-bottom: 8px;
}
.content-footer-menu ul.sub-menu li a {
	color: rgba(230,230,230,0.6);
  	font-family: 'neosanspro-regular';
  	text-transform: capitalize;
  	font-weight: normal;
  	font-size: 12px;
}
.content-footer-menu ul.sub-menu li a:hover{
	color: #E6E6E6;
	text-decoration: none;
}
.containet-logos-footer,
.content-logo-menu{
	background-image: url(images/footer/logotipo-footer.png);
  	background-repeat: no-repeat;
  	overflow: hidden;
}
.content-logo-menu,
.containet-logos-footer .green-line{
	/*margin-top: -7px;*/
}
.content-logo-menu {
    background-position: 13% 53px;
    background-size: 100px;
}
.containet-logos-footer{
	background-position: center 50%;
  	background-size: 120px;
  	height: 160px;
}
.containet-logos-footer .green-line{
  	right: 0;
  	width: 70px;
  	position: absolute;
}

/*Copyright Footer*/
.title-page-footer {
	-webkit-box-shadow: inset 2px 8px 23px -6px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 2px 8px 23px -6px rgba(0,0,0,0.35);
	box-shadow: inset 2px 8px 23px -6px rgba(0,0,0,0.35);
	background-color: #8E8E8E;
	padding: 22px 10px 17px;
	text-align: center;
}
.title-page-footer p {
	padding: 0;
  	margin: 0;
  	color: #FFFFFF;
  	font-family: 'neosanspro-bold';
  	font-size: 22px;
  	letter-spacing: 1px;
}
.title-page-footer p span{
	font-family: 'neosanspro-regular';
	font-weight: normal;
	color: #FFFFFF;
}
.content-copyright p {
	font-family: 'NeoSansPro-Regular';
	color: #8E8E8E;
	font-size: 13px;
	text-align: center;
  	padding: 30px 10px;
  	width: 46%;
  	margin: 0 auto;
  	line-height: 19px;
}

	#sidebar-home{
    	float: none;
    	margin: 0 auto;
    	height: auto !important;
    	margin-top: 20px;
    	padding-left: 0px !important;
    	padding-right: 0px !important;
  	}
  	.sidebar-columm-der .banner-sidebar{
    	margin-top: 0px;
  	}
  	.item-banner-atencion a{
    	width: 65%;
  	}

  	/*ultimas noticias*/
	.ultimas-noticias{
		padding-bottom: 10px;
	    margin-bottom: 13px;
	    height: auto;
	    padding-top: 30px;
	    padding-left: 30px;
    	padding-right: 30px;
    	padding-bottom: 60px;
	}
	.ultimas-noticias h2{
		font-family: 'neosanspro-regular';
		font-size: 16px;
		color: #55565A;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.ultimas-noticias h3{
		font-family: 'neosanspro-bold';
		font-size: 22px;
		color: #55565A;
		margin-top: 15px;
		margin-bottom: 30px;
		text-align: center;
	}
	.semaforo{
		padding-bottom: 10px;
	    margin-bottom: 13px;
	    height: auto;
	    padding-top: 90px;
	    padding-left: 0px;
    	padding-right: 0px;
    	padding-bottom: 0px;
	}
	.sin-padding {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	    padding-bottom: 80px;
	}
	.sin-padding-index {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	    padding-bottom: 40px;
	}
	.pull-left {
    	float: left!important;
	}
	.no-margen {
	    margin-right: 0px !important;
	    margin-left: 0px !important;
	}
	.form-group {
	    margin-bottom: 15px;
	    text-align: center;
	}
	
	label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: 700;
	    font-family: 'NeoSansPro-Light';
	    text-align: center;
	    font-size: 16px;
	    color: #55565A;
	}
	legend{
		display: inline-block;
	    max-width: 100%;
	    margin-bottom: 50px;
	    font-weight: 700;
	    font-family: 'neosanspro-regular';
	    text-align: left;
	    font-size: 20px;
	    color: #55565A;
	}
	.c-red{
		color: #B22222;
	}
	.c-yellow{
		color: #DAA520;
	}
	.c-green{
		color: #228B22;
	}
	.k-grid{
		font-family: neosanspro-light;
		margin-bottom: 150px;
	}
	
	.customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }
    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }


	/*preguntas frecuentes*/
	.preguntas-frecuentes{
		padding-bottom: 10px;
	    height: auto;
	    padding-top: 30px;
	    font-family: 'neosanspro-bold';
		font-size: 18px;
		color: #55565A;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: justify;
	    margin-right: 30px;
    	margin-left: 30px;
	    margin-bottom: 80px;
	}
	.preguntas-frecuentes h2{
		font-family: 'neosanspro-regular';
		font-size: 16px;
		color: #55565A;
		margin-top: 0px;
		margin-bottom: 0px; 
	}
	.preguntas-frecuentes h3{
		font-family: 'neosanspro-bold';
		font-size: 22px;
		color: #55565A;
		margin-top: 15px;
		margin-bottom: 80px;
		text-align: center;
	}

	.preguntas-frecuentes p{
		font-family: 'neosanspro-regular';
		font-size: 14px;
		color: #55565A;
		margin-top: 10px;
		margin-bottom: 40px;
		text-align: justify;
	}

	/*Atencion ciudadana*/
	.item-banner-atencion {
		margin-top: 0px;
		background-color: #8E8E8E;
		background-image: url(images/sidebar/icon-atencion.png);
		background-repeat: no-repeat;
		background-size: 56px;
		background-position: 14px 17px;
		padding: 23px 0px 24px 0px;
		margin-bottom: 8px;
	}
	.item-banner-atencion a {
	    padding-left: 13px;
	    width: 78%;
	    display: block;
	    text-align: center;
	    font-family: 'neosanspro-regular';
	    font-size: 24px;
	    line-height: 24px;
	    float: center;
	    color: #fff;
	}
	.item-banner-atencion:hover a{
		text-decoration: none;
		color: #c7c7c7;
	}
	.item-banner-atencion a strong {
	  font-weight: bold;
	  font-size: 24px;
	}
	#sidebar-single{
		padding-left: 60px;
	}

	/*Content Media*/
	.content-media-home{
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: 0px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.nota-item-g {
		padding-left: 0px !important;
		padding-right: 7px !important;
	}
	.nota-item-g-middle {
		padding: 0 3.5px !important;
	}
	.nota-item-g-right {
		padding-right: 0px !important;
		padding-left: 7px !important;
	}
	.nota-item-g,.nota-item-g-middle,
	.nota-item-g-right{
		padding-bottom: 0px !important;
	}
	.img {
		position: relative;
	}
	.img-change img {
		width: 100%;
	}
	/*Iconografia*/
	.overlay-responsive {
		position: relative;
	  	display: block;
	}
	.overlay-fotonota, .overlay-fotodia, .overlay-videodia, .overlay-tiempo,
	.overlay-infografia, .overlay-nota  {
		display: none;
	  	height: 100%;
	  	width: 100%;
	  	position: absolute;
	  	z-index: 100;
	}
	.overlay-fotonota, .overlay-fotodia, .overlay-videodia, .overlay-tiempo,
	.overlay-infografia {
		background-repeat: no-repeat;
	  	background-position: center;
	}
	.overlay-icon-infografia{
		background: url(images/media/icon-infografia.png);
	}
	.overlay-icon-fotodia {
		background: url(images/media/icon-galeria.png);
	}
	.overlay-icon-videodia{
		background: url(images/media/icon-videos.png);
	}
	.overlay-icon-infografia,
	.overlay-icon-fotodia, .overlay-icon-videodia{
		background-size: 15px;
	}
	.overlay-icon-fotonota, .overlay-icon-fotodia, .overlay-icon-videodia, .overlay-icon-tiempo,
	.overlay-icon-infografia {
		font-size: 16px;
	    background-repeat: no-repeat;
	    background-position: 12px 5px;
	    background-color: #55565A;
	    height: 28px;
	    width: 100%;
	    bottom: 0;
	    position: absolute;
	    z-index: 100;
	    display: block;
	    padding-top: 5px;
	    padding-left: 41px;
	    font-family: 'neosanspro-regular';
	    color: #fff;
	}
	.ekko-lightbox.modal.fade.in div.modal-dialog{
	  max-width:900px !important;
	}




/**
 * Media Query's
 * -----------------------------------------------------------------------------
 */

	/*---  >= 1999px ---*/
	@media screen and (min-width: 1199px){ /* >= @screen-lg */
	    .sin-padding-lg{
	        padding-left:0 !important;
	        padding-right:0 !important;
	    }
	}

	
	/*--- <= 1999px ---*/ 
	@media screen and (max-width: 1199px){ /*< = @screen-lg*/
		.container {
		    width: 100% !important;
		}
		.menu li a {
			font-size: 20px!important;
		}
	}

	/*--- >= 992px and <= 1999px ---*/ 
	@media (min-width: 992px) and (max-width: 1199px){
	    .sin-padding-md{
	        padding-left:0 !important;
	        padding-right:0 !important;
	    }
	}

	/*--- >= 992px ---*/ 
	@media screen and (min-width: 992px){ /* >= @screen-md*/
		.navbar {
			margin: 57px 0 0 0 !important;
		}

	}

	/*--- <= 991px ---*/ 
	@media screen and (max-width: 991px){ /*< = device until 991px */

	}

	@media (min-width: 769px) and (max-width: 991px){ /* <= device between 768px and 991px*/
	/*menu responsive*/

		.nav>li {
		  margin: 0 16px !important;
		}
		.nav>li>a {
			font-size: 17px !important;
		}
		.navbar {
		    margin: 44px 0 0 0 !important;
		}
		.navbar-collapse{
			padding:0 !important;
		}
	}

	@media screen and (min-width: 769px){ /*More 769*/
		.hidden-more-768{
			display:none !important;
		}

		/*Nav Menu full*/
		.navbar-nav{
			float: right !important;
		}
		.navbar-collapse{
			padding:0 !important;
		}
		.navbar{
			z-index: 2;
		}
		.nav > li {
		  text-align: right;
		  display: inline-block !important;
		  position: relative;
		  float: inherit;
		  float: initial !important;
		  border-bottom: 5px solid rgba(255,255,255,0);
		}
		.nav>li>a {
		  font-size: 20px;
		  display: block;
		  padding: 5px 0px 12px!important;
		  font-family: 'neosanspro-regular';
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  text-transform: uppercase;
		  color: #A8A8A8;
		}
		.nav-menu-header li:hover .sub-menu{
			display:block !important;
			position:absolute;
			z-index: 200;
			background-color: rgba(255,255,255,0.95);
			top: 55px;
			-moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
			-webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
			box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
			margin-right: 10px;

		}
		.nav-menu-header > .current-menu-parent.menu-item-has-children {
			border-bottom: 0px solid;
		}
		.nav-menu-header > .current-menu-item a{
			color: #6f6f6f;

		}
		.nav--header > .menu-item-has-children:hover{
			border-bottom: 5px solid #d8d8d8;
		}menu
		.position-fixed {
			width:100%;
			position: fixed;
			z-index: 105;
			left: 0;
			top: 0;
		}
		.nav-menu-mobile h1 {
		  float: left;
		  margin: 1px;
		  display:none;
		  font-family: 'TrajanProBold';
		}
		.nav-menu-mobile h1 a {
		  font-family: 'neosanspro-bold';
		  font-size: 28px;
		  color: #FFF;
		}
		.show_title h1{
			display:block !important;
		}
	}

	@media (min-width: 1200px){
		.tipo-trans{
			padding-left: 16px;
			}
		.fecha-trans{
			  padding-left: 16px;
			}
		.container-slider {
			width: 1170px !important;
		    margin-left: 80px;
	  	}
		.container{
			min-width: 1170px !important;
		}
		.nav>li{
			margin: 0 10px;
		}
	}

	/*--- >= 767px ---*/ 
	@media (min-width: 767px){ /* >= @screen-xs*/
	    .hide-more-xs{
	        display: none;
	    }
	}
	/*--->= 768px and <= 991px---*/
	@media (min-width: 768px) and (max-width: 991px){ /* <= device between 768px and 991px*/
	    .sin-padding-sm{
	        padding-left:0 !important;
	        padding-right:0 !important;
	    }
	}

	/*--- <= 767px ---*/ 
	@media screen and (max-width: 767px){ /* <= device until 767*/
	    .sin-padding-xs{
	        padding-left:0 !important;
	        padding-right:0 !important;
	    }

	    /*menu-reponsive*/
		 

		.lines-button {
		  transition: .3s;
		  cursor: pointer;
		  user-select: none;
		  border-radius: 0.57143rem;
		  /* */
		}
		.lines-button:hover {
		  opacity: 1;
		}
		.lines-button:active {
		  transition: 0;
		}

		.lines {
		  display: inline-block;
		  width: 29px;
		  height: 2px;
		  background: #ecf0f1;
		  border-radius: 0.28571rem;
		  transition: 0.3s;
		  position: relative;
		}

		.lines:before, .lines:after {
		  display: inline-block;
		  width: 29px;
		  height: 2px;
		  background: #ecf0f1;
		  border-radius: 0.28571rem;
		  transition: 0.3s;
		  position: absolute;
		  left: 0;
		  content: '';
		  -webkit-transform-origin: 0.28571rem center;
		  transform-origin: 0.28571rem center;
		}

		.lines:before {
		  top: 8px;
		}

		.lines:after {
		  top: -8px;
		}


		.lines-button.x.close-icon .lines {
		  background: transparent;
		}
		.lines-button.x.close-icon .lines:before, .lines-button.x.close-icon .lines:after {
		  -webkit-transform-origin: 50% 50%;
		  transform-origin: 50% 50%;
		  top: 0;
		  width: 29px;
		}
		.lines-button.x.close-icon .lines:before {
		  -webkit-transform: rotate3d(0, 0, 1, 45deg);
		  transform: rotate3d(0, 0, 1, 45deg);
		}
		.lines-button.x.close-icon .lines:after {
		  -webkit-transform: rotate3d(0, 0, 1, -45deg);
		  transform: rotate3d(0, 0, 1, -45deg);
		} 

		#sidr-menu .social-networks ul {
			text-align: center;
			float: initial !important;
		}
		#sidr-menu .social-networks li:first-child {
			padding-right: 6px;
		}
		.sidr ul li a{
			padding: 8px 20px;
			border-bottom: 1px solid rgba(151,151,151,0.2);
			color: #E9E9E9;
			display: block;
		}
		.sidr ul li > ul {
			display:none;
			list-style: none;
			margin: 0;
		}

		.navbar-nav>li {
			float:initial !important;
			float:none !important;
		}
		/*first-level*/

		.sidr ul li.active > ul{
			display:block !important;
		}
		.sidr ul li > ul li a{
			padding-left: 40px;
			font-size: 12px;
			font-weight: normal !important;
			font-size: 19px;
			font-family: 'GandhiSans';
		}
		.sidr ul li > ul li:before{
			 content: 'Â·';
			  position: absolute;
			  margin: 10px 29px;
		}
		.sidr ul li.menu-item-has-children{
			background-image:url(images/icon-flecha-xs.png);
			background-repeat:no-repeat;
			background-position: 95% 20px;
			background-size: 17px;
		}
		.sidr ul li > ul li a:hover, .sidr ul li > ul li a:focus {
			text-decoration:none;
		}
		.search-form .input-group{
			width: 90%;
			margin: 0 auto;
		}
		.overlay-web-full{
			display: block;
			width: 100%;
			height: 0;
			opacity: 0;
			background-color:#000;
			position: fixed;
			z-index: 100;
			top: 0;
		}
		.nav-menu-mobile.col-sm-6{
			position:initial !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		} 

		
	}

	/*--->= 600px and <= 767px---*/
	@media (min-width: 600px) and (max-width: 767px) { /* <= device between 600px and 767px*/
		.hidden-more-600{
			display:none !important;
		}

	}

	/*--- <= 599px ---*/ 
	@media screen and (max-width: 599px){ /* <= device less 599px*/
	    .hidden-less-600{
	        display:none !important;
	    }

	}

	/*--- <= 320px ---*/ 
	@media screen and (max-width: 320px){ /* <= device less 320px*/

	}

	/*utilities*/
	@media (min-width: 992px){ /* <= device more 992px*/
	    .hidden-less-992{
	        display:none !important;
	    }
	    .hidden-more-992{
	        display:none !important;
	    }
	}
	@media (min-width: 600px){ /* <= device more 600px*/

	}

	/*Iphone(landscape) and device with less 767*/
	@media (max-width:767px) and (orientation:landscape){

	}

	/**************
	*****Style css para el menú
	***************/ 

	 
	.wrapper-header{	
		background-color:#55565A;	  
	    width: 100%;    
	}

	.wrapper-header-scroll{
		background-color:#55565A;
		position: fixed;   
	    width: 100%; 
	    z-index: 3;
	} 

	/*Padding para el menu sm-md-lg*/
	.padd-wrapper-nav{ 
		padding: 8px;
	}

	/*Padding para el menu xs*/
	.padd-wrapper-nav-xs{ 
		padding: 8px 0px 42px;
	}
	 
	.font-neo{
		font-family: 'NeoSansPro-Regular'!important;
		font-size:17px; 		
	}
	
	.breadcrumbs{
		padding: 8px 20px;
		margin-bottom: 10px;
		background-color: #E5E4E4;
	}
	/*Estilo para el boton X del nav-menu-xs*/
	.button_link {
	  position: absolute;
	  padding: 5px 6px;
	  right: 25px;
	  top: 0;
	  margin-top: 3px;
	  margin-left: 14px;
	  margin-bottom: 0px;
	  border: 1px solid transparent;
	  border-radius: 3px;
	  z-index: 1000;
	}

	.button_link .icon-bar {
	  display: block;
	  width: 29px;
	  height: 2px;
	  border-radius: 0px;
	  background-color: #ffffff;
	}

	.button_link .icon-bar + .icon-bar {
	  margin-top: 7px;
	}

	/*Estilos para el div del menu de lista tamaño lg, md, sm*/
	.wrapper-nav-xs{
		position:relative;
		padding-top: 92px;
	}
	
	.wrapper-nav-xs ul{
		width: 85%;
		margin: 0 auto;
		list-style:none;
	}
	.wrapper-nav-xs li{
		border-bottom:#55565A 3px solid;
		padding: 9px 0px 9px 10%;
	}
	.wrapper-nav-xs li a{
		font-family: 'NeoSansPro-Regular';
		color:#D2EFFF;
		font-size:23px;
	}

	/*Estilos para el nav del menu en lista del nav-xs*/
	#navmenu {
		position: fixed;
		width: 100%;
		height: 100% !important;
		top: 0;
		left: 0;
		background-color:rgba(85, 86, 90, 0.91);
		background-image: none; 
		overflow: auto;
		display: none;
		z-index: 2;
	}

	.nav-menu ul li{
		display:inline-block;
		margin: 0 12px;
	} 
	 
	.nav-menu ul li a:hover{
		text-decoration:none;
		opacity:0.5;
	} 

	/*Estilos Segundo Menu*/

	#menu-menu1{
		float: right;
	}

	.marg-logo{
		margin: 14px 0px;
	}

	.wrapper_header2 li{
		display: inline-block; 		
	    word-spacing: 15px;
	    padding: 65px 0px 0px 10px;
	}
	.wrapper_header2 li a{
		font-family: 'NeoSansPro-Regular';
		font-size: 22px;
		color:#A8A8A8; 
	}

	.img-full{
		width: 100%;
	}

	/**Estilo menu principal*/

		/*Nav Menu full*/
	.navbar-nav{
		float: right !important;
	    padding-top: 60px;

	}
	.navbar-collapse{
		padding:0 !important;
	}
	.navbar{
		z-index: 102;
	}
	.nav > li {
	  text-align: right;
	  display: inline-block !important;
	  position: relative;
	  float: inherit;
	  float: initial !important;
	  border-bottom: 5px solid rgba(255,255,255,0);
	}
	.nav>li>a {
	  font-size: 20px;
	  display: block;
	  padding: 5px 0px 12px!important;
	  font-family: 'neosanspro-regular';
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  text-transform: uppercase;
	  color: #A8A8A8;
	}
	.nav-menu-header li:hover .sub-menu{
		display:block !important;
		position:absolute;
		z-index: 101;
		background-color: rgba(255,255,255,0.95);
		padding: 20px;
		top: 55px;
		-moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
		-webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
		box-shadow: 1px 2px 4px rgba(0,0,0,0.25);
	}
	
	.position-fixed {
		width:100%;
		position: fixed;
		z-index: 101;
		left: 0;
		top: 0;
	}
	.nav-menu-mobile h1 {
	  float: left;
	  margin: 1px;
	  display:none;
	  font-family: 'TrajanProBold';
	}
	.nav-menu-mobile h1 a {
	  font-family: 'neosanspro-bold';
	  font-size: 28px;
	  color: #FFF;
	}
	.show_title h1{
		display:block !important;
	}

	.navbar-nav>li {
		float:initial !important;
		float:none !important;
	}

	.nav-menu-header > .current-menu-parent.menu-item-has-children {
		border-bottom: 0px solid;
	}
	.nav-menu-header > .current-menu-item a{
		color: #6f6f6f;
	}
	.nav-menu-header > .menu-item-has-children:hover{
		border-bottom: 5px solid #d8d8d8;
	}
	/**
	 * 18.0 - childtheme
	 * -----------------------------------------------------------------------------
	 */

	.list-child{
		margin: 0px 0;
		padding:0;
		
	}
	.list-child li{
		padding-right: 13px;
		display:inline-block;
	}
	.list-child a{
		color:#fff;
	}
	.list-child a:hover{
		text-decoration:none;
		color:#A8A8A8;
	}

	/*Estilos para la seccion de contacto*/	
	.info-contacto p {
		display:inline-block!important;
	}

	.pad-contacto{
		padding-top: 25px;
	}

	.tit-contacto{
		font-family: 'NeoSansPro-Bold';
		font-size: 22px;
		color: #55565A;
		margin-top: 25px;
		margin-bottom: 30px;
	}

	.contacto{ 
	    font-family: 'NeoSansPro-Regular';
	    font-size: 15px;
	}

	.inline-block{
		display:inline-block;
	}

	.li-block{
		display:block;
	}

	/*Color iconos de contacto*/
	.fa-user-circle-o{	    
	    color: grey;
	}

	.fa-phone{
		color: grey;
	}

	.fa-envelope-o{
		color: grey;
	}

	.fa-building-o{
		color: grey;
	}

	html .k-upload{
		padding-top: 3%;
	}

	.marg-bottom-file{
		margin: 0% 0px 5% 0px;
	}

	.k-filter-row>th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
		font-family: 'NeoSansPro-Light';
		font-size: 14px;
	}

	.k-grid-header th.k-with-icon .k-link { 
	    font-size: 15px;
	}

	.k-button {
		font-family: 'NeoSansPro-Light'!important;
		font-size: 14px;
	}

	.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
	    min-width: 79px;
	    margin-right: 20px;
	}

	.k-button-archivo{
		font-family: 'NeoSansPro-Light'!important;
		background: #55565A!important;
		border-radius: 5px;
		float: right;
		margin-top: 1%;
	}

	.k-button-usuario{
		font-family: 'NeoSansPro-Light'!important;
		background: #55565A!important;
		border-radius: 5px;
		float: center;
		margin-top: 1%;
	}

	.k-file-error .k-progress {
	    background-color: #1c7738!important;
	}

	.k-file-error .k-file-extension-wrapper, .k-file-error .k-multiple-files-extension-wrapper {
	    color: #1c7738!important;
	    border-color: #1c7738!important;
	}

	.k-file-error .k-file-extension-wrapper:before, .k-file-error .k-multiple-files-extension-wrapper:before {
	    background-color: #ffffff;
	    border-color: transparent transparent #1c7738 #1c7738!important;
	}

	.k-file-error {
	    color: #1c7738!important;
	}

	/*NOTIFICACIONES*/

	.mix {
    min-height:370px;
}

nav.navbar-custom { 
 background: #488cf6; 
 border-color: #488cf6; 
 box-shadow: 0 0 12px 0 #ccc; 
}
nav.navbar-custom a { 
    color: #dfe0ed; 
}
nav.navbar-custom ul.navbar-nav a { 
    color: #dfe0ed; 
    border-style: solid; 
    border-width: 0 0 2px 0; 
    border-color: #fff; 
}
    
nav.navbar-custom ul.navbar-nav a:hover,
nav.navbar-custom ul.navbar-nav a:visited,
nav.navbar-custom ul.navbar-nav a:focus,
nav.navbar-custom ul.navbar-nav a:active { 
    background: #5CB85C; 
}
nav.navbar-custom ul.navbar-nav a:hover { 
    border-color: #5CB85C; 
}
nav.navbar-custom li.divider { 
    background: #5CB85C; 
}
nav.navbar-custom button.navbar-toggle { 
    background: #5CB85C; 
    border-radius: 2px; 
}
nav.navbar-custom button.navbar-toggle:hover { 
    background: #999; 
}
nav.navbar-custom button.navbar-toggle > span.icon-bar { 
    background: #fff; 
}
nav.navbar-custom ul.dropdown-menu { 
    border: 0; 
    background: #fff; 
    border-radius: 4px; 
    margin: 4px 0; 
    border: 2px solid #5CB85C;
    box-shadow: 0 0 4px 0 #ccc; 
}
nav.navbar-custom ul.dropdown-menu > li > a { 
    color: black; 
}
nav.navbar-custom ul.dropdown-menu > li > a:hover { 
    background: #5CB85C; color: #fff; 
}

span.badge{
	position: relative;
    top: -6px;
    border-radius: 15px 50px 30px 5px;
    background-color: #d62929;
    padding: 1px 6px;
}

nav.navbar-custom span.badge { 
    background: #5CB85C; 
    font-weight: normal; 
    font-size: 11px;
    margin: 0 4px; 
}
nav.navbar-custom span.badge.new { 
    background: rgba(255, 0, 0, 0.8); color: #fff; 
}