/**
 * 2.0 - Typography
 */

@font-face {
  font-family: 'NeoSansPro-Regular';
  src: url('fonts/NeoSansPro-Regular.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'NeoSansPro-Bold';
  src: url('../fonts/NeoSansPro-Bold.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'NeoSansPro-Light';
  src: url('../fonts/NeoSansPro-Light.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'NeoSansPro-BoldItalic';
  src: url('../fonts/NeoSansPro-BoldItalic.otf') format('truetype');
  font-weight: normal;
}


body.login {
  background-color: #8D8F97;
  font-family: 'NeoSansPro-Light';
 
}

#login {
    width: 50%; 
    margin: auto;
}

.login h1 {
    text-align: center; 
    border-radius: 10px;
}

.login h1 a {
  background-image: url('logo-veracruz-white.png');
  background-size: 100%; /*Modificar aquí para que coincida con el tamaño del logo */
  width: 100%; /*Modificar aquí para que coincida con el tamaño del logo */
  height:100px;
}

/*TargetIMC Fomato Caja login BOF*/
.login form {
  border-radius: 20px!important; 
  background: rgba(255,255,255,0.1); 
}

 

/*TargetIMC Fomato Caja Registro BOF*/
body.login div#login form#registerform {
  background: #b7bbbd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px #636262;
  -moz-box-shadow: 10px 10px 10px 0px #636262;
  box-shadow: 10px 10px 10px 0px #636262;
}

/*TargetIMC Fomato Caja Lost Password BOF*/
body.login div#login form#lostpasswordform {
  background: #b7bbbd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px #636262;
  -moz-box-shadow: 10px 10px 10px 0px #636262;
  box-shadow: 10px 10px 10px 0px #636262;
}

/*TargetIMC Fomato texto etiquetas dentro de la caja BOF*/
.login label {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
 

.login form .input, .login input[type=text], .login form input[type=checkbox] {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px 0px #636262;
  -moz-box-shadow: 2px 2px 2px 0px #636262;
  box-shadow: 2px 2px 2px 0px #636262;
}

/*TargetIMC Fomato texto tiquetas fuera de la caja BOF*/
.login #nav a, .login #backtoblog a {
  text-decoration: none;
  color: #b7bbbd;
  font-weight: bold;
}

.login #nav a:hover, .login #backtoblog a:hover {
  color: #b7bbbd;
  font-weight: bold;
}

/*TargetIMC Formato caja mensajes BOF*/
div.updated, .login .message, .press-this #message,
div.error, .login #login_error {
  background: #0083CD;
  color: #ffffff;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px #636262;
  -moz-box-shadow: 10px 10px 10px 0px #636262;
  box-shadow: 10px 10px 10px 0px #636262;
  border-left: 4px solid #004170;
}

/*TargetIMC Formato texto mensajes*/
p, .wp_attachment_details label[for=content] {
  color: #dddddd;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  margin: 1em 0;
}

/* Eliminar el enlace de password olvidado */
p#nav {
  display: none;
}

/* Eliminar el enlace de volver a la Home */
p#backtoblog {
  display: none;
}

/*Estilo del botón de Acceder*/
.button-submit {
    background-color: #55565A !important;
    border-color: gray !important;
    padding: 7px !important; 
    margin-left: 25%;
    margin-top: 25px;
}

/*
.form-control{
    font-size: 20px!important;
    margin-top: 5%!important;
} 

.login form .forgetmenot label {
    font-family:'NeoSansPro-Light';
    margin-top: 35px;
}


.form-control{
    background: transparent;
}
form {
  width: 320px;
  margin: 20px;
}
form > div {
  position: relative;
  overflow: hidden;
}
form input, form textarea {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form input:valid, form textarea:valid {
  background: white;
}
form input:focus, form textarea:focus {
  border-color: #55565A !important;
}
form input:focus + label, form textarea:focus + label {
  background: #55565A !important;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label {
  -webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
  font-weight: normal;
}
form textarea {
  display: block;
  resize: vertical;
}
form.go-bottom input, form.go-bottom textarea {
  padding: 12px 12px 12px 12px;
}
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}


.label-user{
  border-radius: 0 5px 5px 0;
  height: 53%;
  top: 13px;
  right: 100%;
  width: 100%;
  margin-right: -100%;  
}

.label-password{
  border-radius: 0 5px 5px 0;
  height: 70%;
  top: 14px;
  right: 100%;
  width: 100%;
  margin-right: -100%;  
}

form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px; 
}
*/